= simple_form_for(@user, :url => registration_path(@user)) do |f|
  #content.orange
    = render :partial => '/layouts/messages'
    = f.input :email
    = f.input :first_name
    = f.input :last_name
    = f.input :postal_code, :as => 'string'
    = f.input :public

  = f.submit "S'enregistrer", :id => 'next', :class => 'orange'

