= "#{@user.first_name} #{@user.last_name},"

L'expérimentation du vote de valeur est maintenant ouverte

= "Pour accèder au vote de valeur : #{user_access_url(:id => @user.access_token)}"

Cordialement.

