-# coding: utf-8
#content.red
  = render :partial => '/layouts/messages'
  %p.tooltip
    A l'occasion des
    %b élections présidentielles
    françaises de 2012,
    %br
    ce site va vous permettre
    %b d'expérimenter le Vote de Valeur
    %br
    et de le comparer au système actuel.
  %table.tooltip
    %tr
      %td.tooltip
        %h4.accueil
          Le système actuel
          %a#i1.txt_def_ul.tt_a{:href => "#footNotesN1", :title => "Le système actuel"}
            = image_tag("boutonInfo.png")
          %sup.txt_def_ref.tt_ref
            %a{:href => "#footNotesN1"} [1]
      %td.tooltip
        %h4.accueil
          Le Vote de Valeur
          %a#i2.txt_def_ul.tt_a{:href => "#footNotesN2", :title => "Le Vote de Valeur"}
            = image_tag("boutonInfo.png")
          %sup.txt_def_ref.tt_ref
            %a{:href => "#footNotesN2"} [2]
  %div.tooltip
    = image_tag("classique-vdv.png")
  %div.tooltip
    %i
      S'interroger sur notre système de vote,
      %br
      c'est faire avancer la démocratie.

#nextcontainer
  = link_to( "Participer à l'expérience", new_user_registration_path, :id => 'next', :class => 'red').encode("utf-8")
	  
#footer
  %ol.footNotes
    %li#footNotesN1.footNotes_it
      .footNotes_itti Le système actuel
      .footNotes_itco
        %p.txt_p
          Je choisis un seul candidat au 1
          %sup er
          tour, puis un au second tour parmi les 2 gagnants du 1
          %sup er
          tour.
    %li#footNotesN2.footNotes_it
      .footNotes_itti Le Vote de Valeur
      .footNotes_itco
        %p.txt_p
          Je valorise chaque candidat de -2 « très hostile » à +2 « très favorable ». Le candidat qui reçoit le plus de points est élu en un seul tour.
        %p
          Consultez le site du
          %a.txt_url_ul{:href => "http://www.votedevaleur.org", :target => "_blank", :title => "Site officiel du Vote de Valeur"} Vote de Valeur
          pour une
          présentation détaillée.

:javascript
  try{
    for(var i=1; i<=2; i++) { 
      scTooltipMgr.registerTooltip("i"+i,"footNotesN"+i,"onmouseover","txt_def tt","",{STICKY:true,FIXTYPE:"node",FIX:[0,0], MAXWIDTH:500, MAXHEIGHT: 400, HPOS:"leftAlign",VPOS:"belowElement",CLSBTN:true,CLSBTNCAP:"x",CLSBTNTI:"Fermer"});
    }
  } catch(e){alert(e);}