-# coding: utf-8
= simple_form_for @user, :url => '/votes/classic', :html => {:method => :post, :class => "application classic", :id => "user_vote_form"} do |f|
  #content.grey
    = render :partial => '/layouts/messages'
    #classic_vote
      %h2= 'Vote classique'
      - values = @candidates.to_a.collect{|c| [c.id, c.name]}
      - values.each do |v|
        %span
          %input{:type =>'radio', :id => "user_classic_vote_#{v[0]}", :name => 'user[classic_vote]', :value => v[0], :class => 'hidden'}
          %label{:class =>"collection_radio unselected", :for => "user_classic_vote_#{v[0]}"}= v[1]

  = f.submit "Valider", :id => 'next', :class => 'grey'
