-# coding: utf-8

= simple_form_for @user, :url => '/votes', :html => {:method => :post, :class => "application", :id => "user_vote_form"} do |f|
  = render :partial => '/layouts/messages'
  #content.blue
    #user_votes
      %h2= 'Vote de Valeur'
      %p
        %center
          %b
            Pour assumer la fonction de président de la République française, vous êtes&nbsp;:
      .head_row
        .vote_head.minus_two
          .legend
            très hostile
          = image_tag 'votes/smileyMoins2Seul.png', :size => '25x25'
          .value
            \-2
        .vote_head.minus_one
          .legend
            hostile
          = image_tag 'votes/smileyMoins1Seul.png', :size => '25x25'
          .value
            \-1
        .vote_head.zero
          .legend
            indifférent
          = image_tag 'votes/smiley0.png', :size => '25x25'
          .value
            0
        .vote_head.plus_one
          .legend
            favorable
          = image_tag 'votes/smileyPlus1Seul.png', :size => '25x25'
          .value
            +1
        .vote_head.plus_two
          .legend
            très favorable
          = image_tag 'votes/smileyPlus2Seul.png', :size => '25x25'
          .value
            +2
        .clear
      - @candidates.each do |candidate|
        .row
          = f.label "vote_for_candidate_#{candidate.id}", candidate.name
          .input
            - values = (-2..2).to_a.collect{|i| [i, (i==0) ? "%d" % i : "%+d" % i]}
            = f.collection_radio_buttons "vote_for_candidate_#{candidate.id}", values, :first, :last

    #classic_vote.premier_tour
      %h2= 'Vote classique, premier tour'
      - values = @candidates.to_a.collect{|c| [c.id, c.name]}
      - values.each do |v|
        %span
          %input{:type =>'radio', :id => "user_classic_vote_#{v[0]}", :name => 'user[classic_vote]', :value => v[0], :class => 'hidden'}
          %label{:class =>"collection_radio_buttons unselected", :for => "user_classic_vote_#{v[0]}"}= v[1]

  #nextcontainer
    = link_to "Valider", '#classic', :id => 'next_to_classic', :class => 'next blue'
    = f.submit "Valider", :id => 'submit_votes', :class => 'next grey'

.preload
  = image_tag 'votes/0seul.png'
  = image_tag 'votes/moins2seul.png'
  = image_tag 'votes/smileyMoins1On.png'
  = image_tag 'votes/plus1seul.png'
  = image_tag 'votes/plus2seul.png'

  = image_tag 'votes/smiley0On.png'
  = image_tag 'votes/smileyMoins1On.png'
  = image_tag 'votes/smileyMoins2On.png'
  = image_tag 'votes/smileyPlus1On.png'
  = image_tag 'votes/smileyPlus2On.png'
  

  
  / <img src="http://domain.tld/image-01.png" width="1" height="1" alt="Image 01" />
  / <img src="http://domain.tld/image-02.png" width="1" height="1" alt="Image 02" />
  / <img src="http://domain.tld/image-03.png" width="1" height="1" alt="Image 03" />
