%h2= 'Votre vote'


= simple_form_for @user, :url => '/votes', :html => {:method => :post, :id => 'user_votes'} do |f|
  - @candidates.each do |candidate|
    .row
      = f.label "vote_for_candidate_#{candidate.id}", candidate.name
      .input

        = f.collection_radio "vote_for_candidate_#{candidate.id}", (-2..2).to_a.collect{|i| [i, (i==0) ? "%d" % i : "%+d" % i]}, :first, :last, :label => false

        -#= f.select "vote_for_candidate_#{candidate.id}", (-2..2).to_a.collect{|i| ["%+d" % i, i]}.reverse, :include_blank => true
  .clear
  = f.submit :value => "update votes", :html => {:tabindex => 2}