-# coding: utf-8
!!!5
%html
  %head
    %title VoteDeValeur
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

    :javascript
      var switchTo5x=true;
    %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
    :javascript
      stLight.options({publisher:'5f610d6c-d6ad-4d9f-86e9-c960f0353955'});

  %body{:class => "#{controller_name}_#{action_name}"}
    #header
      #logo
        = link_to root_path do
          = image_tag 'logo-vote-de-valeur.png', :size => "158x158"
      #user_sign_in
        - if user_signed_in? && (!@user_signed_out)
          = current_user.email
          |
          = link_to t(:sign_out), destroy_user_session_path
      #social
        %span.st_twitter
        %span.st_facebook
        %span.st_email
        %span.st_sharethis

      .clear
    #container
      = yield

    .clear

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23743742-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

